     /* Extra Small devices (landscape phones, 576px and down)*/
     
     @media (max-width: 575px) {}
     /* Small devices (landscape phones, 576px and up)*/
     
     @media (min-width: 576px) {
         header {
             width: 200% !important;
         }
         footer {
             width: 200% !important;
         }
         header h1 {
             display: flex;
             justify-content: center;
         }
         footer h2 {
             display: flex;
             justify-content: center;
         }
     }
     /* Medium devices (tablets, 768px and up) */
     
     @media (min-width: 768px) {
         #container_principal {
             width: 2000px;
             height: 650px;
         }
         header h1 {
             display: flex;
             justify-content: center;
         }
         footer h2 {
             display: flex;
             justify-content: center;
         }
         header {
             width: 350% !important;
         }
         footer {
             width: 350% !important;
         }
     }
     /* Large devices (desktops, 992px and up) */
     
     @media (min-width: 992px) {
         #container_principal {
             width: 2000px;
             height: 650px;
         }
         header h1 {
             display: inline-block;
             margin: 0 auto;
         }
         footer h2 {
             display: inline-block;
             margin: 0 auto;
         }
         header {
             width: 100% !important;
         }
         footer {
             width: 100% !important;
         }
     }
     
     @media (min-width: 1400px) {
         #container_principal {
             width: 2000px;
             height: 650px;
         }
         header h1 {
             display: flex;
             justify-content: center;
         }
         footer h2 {
             display: flex;
             justify-content: center;
         }
         header {
             width: 100% !important;
         }
         footer {
             width: 100% !important;
         }
     }
     
     @media (min-width: 1400px) {
         #container_principal {
             width: 2000px;
             height: 650px;
         }
         header h1 {
             display: flex;
             justify-content: center;
         }
         footer h2 {
             display: flex;
             justify-content: center;
         }
         header {
             width: 100% !important;
         }
         footer {
             width: 100% !important;
         }
     }